<li class="objective-item">
    <div class="objective__header">
        <div class="objective__status"><input type="checkbox"></div>
        <h2 class="objective__title">{{ objective.name }}</h2>
        <div class="objective__controls">
            <div class="objective__comments-count">Comentarios</div>
            <div class="objective__expand">+</div>
        </div>
    </div>
    <div class="objective__details">
        <div class="objective__description"><p>{{ objective.description }}</p></div>
        <div class="objective__comments f-delta">bloque comentarios</div>
    </div>
</li>