<script>
    function add_element() {
        var title = $('#title').val();
        var description = $('#description').val();
        var sprint = $('#sprint').val();
        var type = $('input:radio[name=type]:checked').val();

        $.ajax({
            type: "POST",
            url: 'http://gotem.local/create_element',
            data: { 
                title: title,
                description: description,
                sprint: sprint,
                type: type
            },
            success: function(data) 
            {
                console.log(data);

            }
        });
    }
</script>

<div class="objective-list__controls">
    <a href="" class="objective-add__link">Agregar un ojetico</a>
    <div class="objective-add">
        <label for="title">Titulo: </label>
        <input id='title' type="text" />
        <label for="description">Description: </label>
        <input id='description' type="text" />
        <label for="sprint">Sprint: </label>
        <input id='sprint' type="text" />
        <label for="">Valor: </label>
        <input type="radio" name="type">
        <label for="">Objetivo: </label>
        <input type="radio" name="type">
        <a onclick="add_element(); return false;" href="" class="add">Agregar</a>
    </div>
</div>