// ============== [ INDEX ] ==============
//
//  1 - Grid Settings
//
//  2 - Typography
//      2.1 - Font familys
//      2.2 - Line height
//
//  3 - Colors
//      3.1 - Main colors
//
// ========================================


// =1 - Grid Settings  
// -------------------------------------------------------------------------- */
$total-columns: 24;
// $column-width: 4em;
// $gutter-width: 1em;


// =2 - Typography
// -------------------------------------------------------------------------- */
    // =2.1 - Font familys
    // ------------------------------------------------------ */
    $f-sans: 'Asap', Helvetica, Arial, sans-serif;
    $f-serif:'Rosario', Georgia, serif;

    // =2.1 - Font size
    // ------------------------------------------------------ */
    $base-font-size: 13px;
    $base-font-size-rem: (13px/18px)+rem;
    $base-line-height: 1.1667;


// =3 - Colors
// -------------------------------------------------------------------------- */
    // =3.1 - Main colors
    // ------------------------------------------------------ */
    $c-black: #333;
    $c-white: #FFF;
    $c-main: #47443C;
    $c-secondary: #808e91;
