{% load staticfiles%}

<div class="brand"><img src="{% static 'img/logo_proxies.png' %}" alt="Proxies"/></div>
<ul class="users-list nav--stacked">
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
    {% include 'gotem/users-area/user-item.html' %}
</ul>